#Ignore:
dependency-reduced-pom.xml
*.iml
.idea/
target/
tokens/
lib/
*.txt
host_connect.*
botFiles/
#Only ignore .properties in root foler - any other .properties files are templates, and should be included
/.properties
